.search_input {
    display: flex;
    align-items: center;
    height: 50px;
    border: 1px solid lightgray;
    padding: 10px 20px;
    border-radius: 999px;
    width: 75vw;
    margin: 0 auto;
    margin-top: 150px;
    max-width: 560px;
  }
  .search_input2 {
    display: flex;
    align-items: center;
    height: 50px;
    border: 1px solid lightgray;
    padding: 10px 20px;
    border-radius: 999px;
    width: 75vw;
    margin: 0 auto;
    margin-top: 20px;
    max-width: 570px;
  }
  .search_input > input {
    flex: 1;
    padding: 10px 20px;
    font-size: medium;
    border: none;
  }
  
  .search_input > input:focus {
    outline-width: 0;
    outline: none;
  }
  

.search_button{
  
    padding: 10px 20px !important;
    border-radius: 999px;
    margin-top: 20px !important;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    width: 570px !important;
    margin-left : 390px !important;
    background-color: #323436;
    border: 1px solid #323436;
  }
  